.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

#money {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Styling for the image button */
#workButton {
    width: 50%; /* Adjust as needed */
    max-width: 200px; /* Set maximum width */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 0 auto; /* Center horizontally */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

.slot-machine {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.slot {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
}

.slot img {
    width: 100px;
}
